<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True">
    <title>Enroll for GetCertNow PMP Training Course near your city</title>

    <meta name="keywords" content="PMP courses, PMP training, PMP certification, project management training, project management certification">
    <meta name="description" content="Enroll for GetCertNow PMP Training Course near your city. GetCertNow is the Global Leader for Online and Classroom PMP Certification Training with 99% pass rates.">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="Content/a.css" rel="stylesheet"/>


    <link href="Content/font-icons.css" rel="stylesheet" />
    <script src="bundles/modernizr"></script>



</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="global">
    <div class="container">

        <header class="master-header">
            <div>
                <nav class="top-nav">
                    <ul class="list-inline">

                        <li><a href="/">Home</a></li>
                        <li><a href="/home/contactus">Contact</a></li>

                        <li><a href="/freeresources/free-practice-tests-registration" class="menu-free">Register</a></li>

                        <li><a href="http://online.vmedu.com" target="_blank">Sign In</a></li>

                    </ul>
                </nav>
                <div class="tooltip_templates hide">
                    <div id="search-form">
                        <form method="get" action="/home/search" target="_blank" class="form">
                            <div class="input-group">
                                <input name="q" id="q" class="input" placeholder="Search here" required>
                                <button type="submit" class="button button-default">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2-5 col-md-1-2">
                    <a href="/home/signin" class="visible visible-sm" style="float: right; position: absolute; right: 60px; margin: 25px;"></a> <a href="/" id="primary-logo"> <img src="/PM-Images/brand-logo/logo.svg" alt="GetCertNow" /> </a>
                </div>

                <div class="col-2-5 col-md-1-2">
                    <a style="float:right;" id="pmi-logo"> <img src="/PM-Images/rep-56.svg" alt="REP" /> </a>
                </div>

                <div class="col-1-5 visible visible-sm">
                    <div class="menu-button">Menu<span class="touch-button"><i class="navicon">▼</i></span></div>

                </div>



            </div>


            <nav id="nav" class="primary-nav">
                <ul id="nav-holder" class="flexnav" data-breakpoint="991">
                    <li>
                        <a href="/whyus/index" >WHY US</a>
                        <ul style="display:none">
                            <li><a href="/scrumclasses/benefits">Benefits </a></li>
                            <li><a href="/home/what-is-included">What is Included </a></li>
                            <li><a href="/home/instructors">Experienced Faculty </a></li>
                            <li><a href="/home/feedback-class">Testimonials </a></li>

                            <li><a href="/WhyUs/scrum-class-faq">FAQs </a></li>
                            <li><a href="/aboutus/who-we-are">Who We Are </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/certification/index" class="certification-nav-tab">CERTIFICATIONS</a>

                        <ul style="display:none">
                            <li>
                                <a href="/certification/index#scrum-certifications">Scrum Certifications</a>
                                <ul style="display:none">
                                    <li>
                                        <a href="/certification/why-get-certified">Why get certified?</a>
                                    </li>
                                    <li>
                                        <a href="/certification/certification-hierarchy">Certification Hierarchy</a>
                                    </li>
                                    <li>
                                        <a href="/certification/scrum-fundamentals-certified">Scrum Fundamentals Certified (SFC™)</a>
                                    </li>
                                    <li>
                                        <a href="/classes/scrum-certification-training?coursename=scrum-master-certified">Scrum Master Certified (SMC<sup>&reg;</sup>)</a>
                                    </li>
                                    <li>
                                        <a href="/classes/scrum-certification-training?coursename=scrum-agile-master-certified">SCRUMstudy Agile Master Certified (SAMC™)</a>
                                    </li>
                                    <li>
                                        <a href="/classes/scrum-certification-training?coursename=scrum-product-owner-certified">Scrum Product Owner Certified (SPOC<sup>&reg;</sup>)</a>
                                    </li>
                                    <li>
                                        <a href="/certification/maintaining-certification">Maintaining Certification</a>
                                    </li>
                                    <li>
                                        <a href="online-self-study">Online Self Study</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/certification/index#sixsigma-certifications">6sigma Certifications</a>
                                <ul style="display:none">
                                    <li><a href="/certification/sixsigma-why-get-certified">Why get certified?</a></li>
                                    <li><a href="/certification/sixsigma-certification-hierarchy">Certification Hierarchy</a></li>
                                    <li><a href="/certification/six-sigma-yellow-belt-certification">Six Sigma Yellow Belt (SSYB™)</a></li>
                                    <li><a href="/certification/six_sigma_green_belt">Six Sigma Green Belt (SSGB™)</a></li>
                                    <li><a href="/certification/six_sigma_black_belt">Six Sigma Black Belt (SSBB™)</a></li>
                                    <li><a href="/certification/lean_six_sigma_green_belt">Lean Six Sigma Green Belt (LSSGB™)</a></li>
                                    <li><a href="/certification/lean_six_sigma_black_belt">Lean Six Sigma Black Belt (LSSBB™)</a></li>
                                    <li><a href="/certification/sixsigma-maintaining-certification">Maintaining Certification</a></li>
                                    <li><a href="/certification/sixsigma-online-self-study">Online Self Study</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>



                    <li>
                        <a href="/corporate/index" >CORPORATE TRAINING</a>
                        <ul style="display:none">
                            <li><a href="/corporate/corporate-overview">Benefits</a></li>
                            <li><a href="/corporate/scrumstudy-brochure">Scrum Brochure</a></li>
                            <li><a href="/corporate/Sixsigma-Brochure">Six Sigma Brochure</a></li>

                            <li><a href="/corporate/enquiries">Enquiries</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/freeresources/index">FREE RESOURCES</a>
                        <ul style="display:none">
                            <li><a href="/freeresources/overview-of-sbok">SBOK<sup>™</sup> Guide-Complete e-book</a></li>
                            <li><a href="/classes/scrum-fundamentals-certification-training">Scrum Fundamentals Certified Training</a></li>
                            <li><a href="/certification/six-sigma-yellow-belt-certification">Six Sigma Yellow Belt (SSYB™) Training</a></li>
                            <li><a href="https://www.scrumstudy.com/freeresources/scrum-free-videos" target="_blank" rel="noopener">SCRUMstudy High Quality Videos</a></li>
                            <li><a href="https://www.6sigmastudy.com/freeresources/sixsigma-free-videos" target="_blank" rel="noopener">6sigmastudy High Quality Videos</a></li>
                            <li><a href="/freeresources/free-practice-tests-registration">Free Practice Tests</a></li>




                            <li><a href="/freeresources/vmedu-app">Mobile app</a></li>
                        </ul>
                    </li>


                </ul>
            </nav>

        </header>







        <section class="inner-banner">
            <h2>Registration Status</h2>
        </section>

        <section class="breadcrumbs"><a href="/">Home</a> » <a href="/Classes">Classes</a> » <span>Enroll Success</span> </section>

        <section class="site-content success-block">
            <h4>Thank you for registering with GetCertNow</h4>

            <p class="lead">
                A verification email has been sent to the registered email address. Please check your inbox and verify to complete the registration process.
            </p>


            <strong>Note:</strong>
            <ul>
                <li>Please check your spam/junk folder if you do not receive any email from GetCertNow</li>
                <li>If you do not receive any email within 10-15 minutes of your registration, please raise a ticket using the <a href="https://www.GetCertNow.org/AboutUs/contact-us">contact us form</a> and we will look into it.</li>
            </ul>




        </section>



        <footer class="master-footer">
            <section id="copyright-info"> © 2020 GetCertNow.org. All Rights Reserved</section>
            <section class="site-content">
                <br />
                <div class="row row-v-gutter text-center">
                    <div class="col-1 col-sm-1-2 col-md-1 small">
                        <a href="/whyus/index">WHY US</a> |
                        <a href="/certification/index">CERTIFICATIONS</a> |

                        <a href="/corporate/index">CORPORATE TRAINING</a> |
                        <a href="/freeresources/index">FREE RESOURCES</a> |
                        <a href="/home/contactus">CONTACT US</a>
                    </div>

                </div>

            </section>
        </footer>


    </div>
</div>
<div id="Free-demo" class="modal-smc">

    <div class="modal-content-smc" style="font-size:13px;">
        <div class="modal-header-smc">


            <h4 style="color:white">Free Demo Course</h4> <span class="modal-close-smc">&times;</span>

        </div>
        <div class="modal-body-smc">
            <div class="row">
                <div class="col-1 col-sm-3-3" id="cmessage">

                    <form class="form form-stacked" id="enroll-free-demo-form">
                        <div class="row" style="color:black;">
                            <div class="col-1">
                                <label><strong>Certification  </strong></label>

                                <select class="input right-10 input-1" name="certid" id="ccertid" required="" style="cursor:pointer">
                                    <option value="" disabled selected>Select Certification</option>
                                    <option value="11" id="course-option" data-value="SCRUM-MASTER-CERTIFIED">Scrum Master Certified</option>
                                    <option value="12" data-value="SCRUM-AGILE-MASTER-CERTIFIED">SCRUMstudy Agile Master Certified</option>
                                    <option value="13" data-value="SCRUM-PRODUCT-OWNER-CERTIFIED">Scrum Product Owner Certified</option>
                                </select>
                            </div>
                            <div class="col-1">
                                <label for="firstName">First Name<sup class="text-danger">*</sup></label>
                                <input name="firstName" id="cfirstName" class="input input-1" type="text" required="" placeholder="Enter First name" aria-required="true">
                            </div>

                            <div class="col-1">
                                <label for="lastName">Last Name<sup class="text-danger">*</sup></label>
                                <input name="lastName" id="clastName" class="input input-1" type="text" required="" placeholder="Enter Last name" aria-required="true">
                            </div>

                            <div class="col-1">
                                <label for="emailID">Email (User ID)<sup class="text-danger">*</sup></label>
                                <input name="emailID" id="cemailID" class="input input-1 emailID" type="email" required="" placeholder="Enter Email ID" aria-required="true">
                            </div>
                            <div class="col-1">
                                <label for="firstName">Phone Number</label>
                                <input name="phone" id="cphone" class="input input-1" type="number" placeholder="Enter Phone Number" aria-required="true">
                            </div>

                        </div>

                        <p class="input-1">
                            <button type="submit" id="cdemo-enroll" class="button button-primary" style="float:left;margin-left:60px;">Submit</button><button type="reset" id="reset" style="float:right;margin-right:60px;" class="button button-primary">Clear</button>
                        </p>


                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="/bundles/shared?v=3pItssREVLI1gRC_B0CkYMObBAZU0zTdrBc9zg8B0Qo1"></script>



<script>
        var fmodal = document.getElementById("Free-demo");

        function opencoursemodal() {
            fmodal.style.display = "block";
            window.scrollTo(0, 200);
        };
        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        fmodal.style.display = "none";
        //    }
        //}

        $(".modal-close-smc").on("click", function () {
            fmodal.style.display = "none";
        })

        //$("#enroll-form").validate({
        //    rules: {
        //        confirmEmailID: {
        //            equalTo: "#emailID"
        //        },
        //        phone: {
        //            number: true
        //        },

        //    }

        //})

    </script>
<script type="text/javascript">
        $("#enroll-free-demo-form").submit("click", function (e) {
            $("#cdemo-enroll").prop("disabled", true).text("Please wait...")
            $("#ccertid").prop("disabled", true)
            $("#cfirstName").prop("disabled", true)
            $("#cemailID").prop("disabled", true)
            $("#cphone").prop("disabled", true)
            e.preventDefault();

            $.ajax({
                method: "GET",
                url: "/classes/freedemousersenrollment",
                data: {
                    firstname: $("#cfirstName").val(),
                    lastname: $("#clastName").val(),
                    emailid: $("#cemailID").val(),
                    phoneno: $("#cphone").val(),
                    certId: $("#ccertid").val()

                }
            })
                .done(function (data) {
                    pageid++
                    if (data.Data == true) {
                        $("#cmessage").empty();
                        var text = "<p style='color:black'>Thank you for your interest in the free demo course. An email with login credentials to will be sent to your email address shortly.</p>"
                        $("#cmessage").append(text)
                    }

                })
                .fail(function () {
                    alert("Failed")
                })
                .always(function (data) {
                    $("#cdemo-enroll").prop("disabled", false).text("Submit")
                    $("#cfirstName").prop("disabled", false)
                    $("#cemailID").prop("disabled", false)
                    $("#cphone").prop("disabled", false)
                    $("#ccertid").prop("disabled", false)
                })
        })
    </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169230402-1"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-169230402-1');

        //Global Site Tag for GetCertNow Enrollments conversion
        gtag('config', 'AW-1026351431');
    </script>
</body>
</html>
