<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True">
    <title>Free Scrum Practice Tests</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="Content/a.css" rel="stylesheet"/>


    <link href="Content/font-icons.css" rel="stylesheet"/>
    <script src="bundles/modernizr"></script>


</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="global">
    <div class="container">

        <header class="master-header">
            <div>
                <nav class="top-nav">
                    <ul class="list-inline">

                        <li><a href="/">Home</a></li>
                        <li><a href="/registration" class="menu-free">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-2-5 col-md-1-2">
                    <a href="/"><img src="PM-Images/brand-logo/logo.svg" alt="GetCertNow"/> </a>
                </div>
                <div class="col-2-5 col-md-1-2">
                    <a style="float:right;" id="pmi-logo"> <img src="PM-Images/rep-56.svg" alt="REP"/> </a>
                </div>

                <div class="col-1-5 visible visible-sm">
                    <div class="menu-button">Menu<span class="touch-button"><i class="navicon">▼</i></span></div>

                </div>
            </div>
            <nav id="nav" class="primary-nav">
                <ul id="nav-holder" class="flexnav" data-breakpoint="991">
                    <li>
                        <a href="/scrum-online-self-study" class="certification-nav-tab">Scrum Certifications</a>
                    </li>
                    <li>
                        <a href="/sigma-online-self-study" class="certification-nav-tab">6sigma Certifications</a>
                    </li>
                </ul>
            </nav>

        </header>

        <section class="inner-banner">
            <h2>Registration</h2>
        </section>

        <section class="breadcrumbs"><a href="/">Home</a> » <span>Registration</span></section>

        <section class="site-content">
            <h1>Registration</h1>
            <h4>Please fill the form below to start the Registration/Sign In</h4>
            <strong>NOTE:</strong> All fields are mandatory unless otherwise indicated.
            <hr class="divider-md"/>

            <div class="row">
                <div class="col-1 col-sm-1-3">
                    <form action="/customerLogin" class="form form-stacked" id="signin-form" method="post"
                          novalidate="novalidate">
                        <input type="hidden" name="courseid" value="81"/>

                        <input data-val="true" data-val-number="The field Amount must be a number."
                               data-val-required="The Amount field is required." id="Amount" name="Amount" type="hidden"
                               value="1">
                        <fieldset>
                            <h4 class="top-0">CUSTOMER LOGIN</h4>
                            <hr class="divider-sm">

                            <div class="row">
                                <div class="col-1">
                                    <label for="username">Email ID<sup class="text-danger">*</sup></label>
                                    <input name="emailid" id="emailid" class="input input-4-5 emailID" type="email"
                                           required="" placeholder="Enter Email ID" aria-required="true">
                                </div>
                                <div class="col-1">
                                    <label for="password">Password<sup class="text-danger">*</sup></label>
                                    <input name="password" id="password" class="input input-4-5" type="password"
                                           required="" placeholder="Enter password" aria-required="true">
                                </div>

                            </div>

                            <p class="input-4-5">
                                <button type="submit" class="button button-primary">Submit</button>
                            </p>

                        </fieldset>
                    </form>
                </div>

                <div class="col-1 col-sm-2-3">
                    <form action="/customerRegistration" class="form form-stacked" id="signup-form" method="post"
                          novalidate="novalidate">

                        <input name="__RequestVerificationToken" type="hidden"
                               value="mynuA3L8_7p68MB3Oh3FgX4GCPygbLdAFKHL_YCedPxhyPY70btK6xi8L4eG73pewYC1I_ok33ewjV3lYkDSirrUldqJC1RoX7eEh-AXJqA1"/>

                        <input type="hidden" name="courseid" value="81"/>

                        <input data-val="true" data-val-number="The field Amount must be a number."
                               data-val-required="The Amount field is required." id="Amount" name="Amount" type="hidden"
                               value="0">
                        <fieldset>
                            <h4 class="top-0">CUSTOMER ENROLLMENT</h4>
                            <hr class="divider-sm">

                            <div class="row">
                                <div class="col-1 col-sm-1-2">
                                    <label for="firstName">First Name<sup class="text-danger">*</sup></label>
                                    <input name="firstName" id="firstName" class="input input-4-5" type="text"
                                           required="" placeholder="Enter First name" aria-required="true">
                                </div>

                                <div class="col-1 col-sm-1-2">
                                    <label for="lastName">Last Name<sup class="text-danger">*</sup></label>
                                    <input name="lastName" id="lastName" class="input input-4-5" type="text" required=""
                                           placeholder="Enter Last name" aria-required="true">
                                </div>

                                <div class="col-1 col-sm-1-2">
                                    <label for="emailID">Email(User ID)<sup class="text-danger">*</sup></label>
                                    <input name="emailID" id="emailID" class="input input-4-5 emailID" type="email"
                                           required="" placeholder="Enter Email ID" aria-required="true">
                                </div>


                                <div class="col-1 col-sm-1-2">
                                    <label for="confirmEmailID">Confirm Email(User ID)<sup
                                            class="text-danger">*</sup></label>
                                    <input name="confirmEmailID" id="confirmEmailID" class="input input-4-5 emailID"
                                           type="email" required="" placeholder="Enter Email ID" aria-required="true">
                                </div>

                                <div class="col-1 col-sm-1-2">
                                    <label for="signuppassword">Password<sup class="text-danger">*</sup></label>
                                    <input name="signuppassword" maxlength="32" id="signuppassword"
                                           class="input input-4-5" type="password" required=""
                                           placeholder="Enter Password" aria-required="true">

                                </div>

                                <div class="col-1 col-sm-1-2">
                                    <label for="signupconfirmpassword">Confirm Password<sup class="text-danger">*</sup></label>
                                    <input name="signupconfirmpassword" maxlength="32" id="signupconfirmpassword"
                                           class="input input-4-5" type="password" required=""
                                           placeholder="Confirm Password" aria-required="true">
                                </div>
                                <div class="col-1 col-sm-1-2">
                                    <label for="company">Company Name<sup class="text-danger">*</sup></label>
                                    <input name="company" id="company" class="input input-4-5" type="text" required=""
                                           placeholder="Enter Company Name" aria-required="true">
                                </div>

                                <div class="col-1 col-sm-1-2">


                                    <label for="phoneNumber">Phone Number<sup class="text-danger">*</sup></label>
                                    <div class="input-group input-4-5">
                                        <select class="input" id="CountryCode" name="CountryCode"
                                                style="border-radius: 2px 0 0 2px; display: inline-block; width: 30%; padding: 7px 6px"
                                                aria-required="true">
                                            <option value="+91">+91</option>
                                        </select>
                                        <input class="input input-4-5"
                                               style="border-radius: 0 2px 2px 0; display: inline-block; width: 70%; padding: 8px 4px;"
                                               placeholder="Enter Phone Number" required="required" type="number"
                                               id="phone" name="phone"/>
                                    </div>
                                    <label id="inputGroup1-error" class="error top-10" for="inputGroup1"
                                           style="display: none; margin-top: 16px;">This field is required.</label>
                                </div>

                                <div class="col-1 col-sm-1-2">
                                    <label for="country">Country<sup class="text-danger">*</sup></label>
                                    <input name="country" id="country" class="input input-4-5" type="text" required=""
                                           placeholder="Enter your country" aria-required="true">
                                </div>

                                <div class="col-1 col-sm-1-2">
                                    <label for="aboutSM">How did you hear about GetCertNow?<sup
                                            class="text-danger">*</sup></label>
                                    <select id="aboutSM" name="Area" class="input input-4-5" required=""
                                            aria-required="true">
                                        <option value="">-- Select --</option>
                                        <option value="From a friend/colleague">From a friend/colleague</option>
                                        <option value="Internet Search">Internet Search</option>
                                        <option value="Magazines">Magazines</option>
                                        <option value="Promotional Emails">Promotional Emails</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-1 col-sm-1-2 hide">
                                    <label for="otherAboutSM">Please specify</label>
                                    <input name="otherAboutSM" id="otherAboutSM" class="input input-4-5" type="text"
                                           required="" placeholder="Specify" aria-required="true">
                                </div>
                                <div class="col-1"></div>
                                <div class="col-1 col-sm-1-2">
                                    <label for="area">Captcha<sup class="text-danger">*</sup></label>
                                    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
                                    <div class="g-recaptcha"
                                         data-sitekey="6LeLnwAVAAAAAF9dQXtw23UeYz8-8TMDpqD90-kO"></div>
                                </div>
                            </div>
                            <hr class="divider-sm"/>
                            <label for="terms" class="checkbox">
                                <input id="terms" name="terms" type="checkbox" required> I've read the <a
                                    href="/account/online-course-terms-and-conditions" target="_blank">terms and
                                conditions</a>
                            </label>
                            <label id="terms-error" class="error" for="terms" style="display: none;"></label>
                            <p class="input-4-5 top-20">
                                <button type="submit" value="Buy - CCAvenue" class="button button-primary">Submit
                                </button>
                            </p>


                        </fieldset>
                    </form>
                </div>
            </div>

        </section>
        <input type="hidden" id="precountrycode" value="1"/>


        <footer class="master-footer">
            <section id="copyright-info"> © 2020 GetCertNow.org. All Rights Reserved</section>
        </footer>


    </div>
</div>
<div id="Free-demo" class="modal-smc">

    <div class="modal-content-smc" style="font-size:13px;">
        <div class="modal-header-smc">


            <h4 style="color:white">Free Demo Course</h4> <span class="modal-close-smc">&times;</span>

        </div>
        <div class="modal-body-smc">
            <div class="row">
                <div class="col-1 col-sm-3-3" id="cmessage">

                    <form class="form form-stacked" id="enroll-free-demo-form">
                        <div class="row" style="color:black;">
                            <div class="col-1">
                                <label><strong>Certification </strong></label>

                                <select class="input right-10 input-1" name="certid" id="ccertid" required=""
                                        style="cursor:pointer">
                                    <option value="" disabled selected>Select Certification</option>
                                    <option value="11" id="course-option" data-value="SCRUM-MASTER-CERTIFIED">Scrum
                                        Master Certified
                                    </option>
                                    <option value="12" data-value="SCRUM-AGILE-MASTER-CERTIFIED">SCRUMstudy Agile Master
                                        Certified
                                    </option>
                                    <option value="13" data-value="SCRUM-PRODUCT-OWNER-CERTIFIED">Scrum Product Owner
                                        Certified
                                    </option>
                                </select>
                            </div>
                            <div class="col-1">
                                <label for="firstName">First Name<sup class="text-danger">*</sup></label>
                                <input name="firstName" id="cfirstName" class="input input-1" type="text" required=""
                                       placeholder="Enter First name" aria-required="true">
                            </div>

                            <div class="col-1">
                                <label for="lastName">Last Name<sup class="text-danger">*</sup></label>
                                <input name="lastName" id="clastName" class="input input-1" type="text" required=""
                                       placeholder="Enter Last name" aria-required="true">
                            </div>

                            <div class="col-1">
                                <label for="emailID">Email (User ID)<sup class="text-danger">*</sup></label>
                                <input name="emailID" id="cemailID" class="input input-1 emailID" type="email"
                                       required="" placeholder="Enter Email ID" aria-required="true">
                            </div>
                            <div class="col-1">
                                <label for="firstName">Phone Number</label>
                                <input name="phone" id="cphone" class="input input-1" type="number"
                                       placeholder="Enter Phone Number" aria-required="true">
                            </div>

                        </div>

                        <p class="input-1">
                            <button type="submit" id="cdemo-enroll" class="button button-primary"
                                    style="float:left;margin-left:60px;">Submit
                            </button>
                            <button type="reset" id="reset" style="float:right;margin-right:60px;"
                                    class="button button-primary">Clear
                            </button>
                        </p>


                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="/bundles/shared?v=3pItssREVLI1gRC_B0CkYMObBAZU0zTdrBc9zg8B0Qo1"></script>


<script src="/Scripts/vendor/jquery.validate.min.js"></script>
<script src="/Scripts/vendor/jquery.lightbox_me.js"></script>
<script src="/Scripts/vendor/jquery.tooltipster.min.js"></script>
<script>
        $("#signin-form").validate();

        $("#signup-form").validate({

            rules: {
                confirmEmailID: {
                    equalTo: "#emailID"
                },
                phone: {
                    number: true
                },
                signuppassword: {
                    minlength: 6
                },
                signupconfirmpassword: {
                    minlength: 6,
                    equalTo: "#signuppassword"
                }
            },
            groups: {
                inputGroup1: "CountryCode phone"
            },

            submitHandler: function (form) {
                var captchaValid = grecaptcha.getResponse();
                if (captchaValid.length == 0) {
                    alert("Failed to validate Captcha")
                    return false
                }
                form.submit();
            }
        });
        $("#aboutSM").on("change", function () {
            if ($(this).val() == "Other") {
                $(this).parents(".col-1").next().removeClass("hide")
            }
            else {
                $(this).parents(".col-1").next().addClass("hide")
            }
        })

        //$.ajax({
        //    method: "get",
        //    url: "/Scripts/phone-codes.json"
        //})
        //    .done(function (msg) {
        //        $("#CountryCode").append(function () {
        //            var returnValue = "<option value='' id='code'>Select</option>"
        //            var country = $("#countryid option[selected]").text()
        //            $.each(msg, function (i, e) {
        //                if (i == country) {
        //                    returnValue += "<option value='" + e + "' selected>" + i + " - " + e + "</option>"
        //                }
        //                else {
        //                    returnValue += "<option value='" + e + "'>" + i + " - " + e + "</option>"
        //                }
        //            })
        //            return returnValue
        //        })
        //        if ($("#CountryCode").val() == "") {
        //            $("#code").text(1).val(1).show().prop("selected", "true")
        //        }
        //        else {
        //            $("#code").text($("#CountryCode").val()).val($("#CountryCode").val()).show().prop("selected", "true")
        //        }

        //        $("#CountryCode").on("focus", function () {
        //            $("#code").hide()
        //            $("#CountryCode").val($("#code").val())
        //        })

        //        $("#CountryCode").on("blur change", function () {
        //            if ($("#CountryCode").val() != "") {
        //                $("#code").text($("#CountryCode").val()).val($("#CountryCode").val()).show().prop("selected", "true")
        //            }
        //        })
        //    })


</script>


<script>
        var fmodal = document.getElementById("Free-demo");

        function opencoursemodal() {
            fmodal.style.display = "block";
            window.scrollTo(0, 200);
        };
        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        fmodal.style.display = "none";
        //    }
        //}

        $(".modal-close-smc").on("click", function () {
            fmodal.style.display = "none";
        })

        //$("#enroll-form").validate({
        //    rules: {
        //        confirmEmailID: {
        //            equalTo: "#emailID"
        //        },
        //        phone: {
        //            number: true
        //        },

        //    }

        //})


</script>
<script type="text/javascript">
        $("#enroll-free-demo-form").submit("click", function (e) {
            $("#cdemo-enroll").prop("disabled", true).text("Please wait...")
            $("#ccertid").prop("disabled", true)
            $("#cfirstName").prop("disabled", true)
            $("#cemailID").prop("disabled", true)
            $("#cphone").prop("disabled", true)
            e.preventDefault();

            $.ajax({
                method: "GET",
                url: "/classes/freedemousersenrollment",
                data: {
                    firstname: $("#cfirstName").val(),
                    lastname: $("#clastName").val(),
                    emailid: $("#cemailID").val(),
                    phoneno: $("#cphone").val(),
                    certId: $("#ccertid").val()

                }
            })
                .done(function (data) {
                    pageid++
                    if (data.Data == true) {
                        $("#cmessage").empty();
                        var text = "<p style='color:black'>Thank you for your interest in the free demo course. An email with login credentials to will be sent to your email address shortly.</p>"
                        $("#cmessage").append(text)
                    }

                })
                .fail(function () {
                    alert("Failed")
                })
                .always(function (data) {
                    $("#cdemo-enroll").prop("disabled", false).text("Submit")
                    $("#cfirstName").prop("disabled", false)
                    $("#cemailID").prop("disabled", false)
                    $("#cphone").prop("disabled", false)
                    $("#ccertid").prop("disabled", false)
                })
        })

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169230402-1"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-169230402-1');

        //Global Site Tag for GetCertNow Enrollments conversion
        gtag('config', 'AW-1026351431');

</script>
</body>
</html>
