<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True">
    <title>Scrum Online Courses</title>
    <meta name="keywords"
          content="Scrum Online Course, Scrum self study, Scrum online training, SMC, SAMC, SDC, SPOC, Online certification">
    <meta name="description" content="Online self-paced courses and certification for Scrum">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="Content/a.css" rel="stylesheet"/>
    <link href="Content/font-icons.css" rel="stylesheet"/>
    <script src="bundles/modernizr"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="global">
    <div class="container">
        <header class="master-header">
            <div>
                <nav class="top-nav">
                    <ul class="list-inline">
                        <li><a href="/">Home</a></li>
                        <li><a href="/registration" class="menu-free">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-2-5 col-md-1-2">
                    <a href="/"><img src="PM-Images/brand-logo/logo.svg" alt="GetCertNow"/> </a>
                </div>
                <div class="col-2-5 col-md-1-2">
                    <a style="float:right;" id="pmi-logo"> <img src="PM-Images/rep-56.svg" alt="REP"/> </a>
                </div>
                <div class="col-1-5 visible visible-sm">
                    <div class="menu-button">Menu<span class="touch-button"><i class="navicon">▼</i></span></div>

                </div>
            </div>
            <nav id="nav" class="primary-nav">
                <ul id="nav-holder" class="flexnav" data-breakpoint="991">
                    <li>
                        <a href="/scrum-online-self-study" class="certification-nav-tab">Scrum Certifications</a>
                    </li>
                    <li>
                        <a href="/sigma-online-self-study" class="certification-nav-tab">6sigma Certifications</a>
                    </li>
                </ul>
            </nav>
        </header>

        <style>
    .table-scrollable tr > :first-child {
        position: absolute;
        width: 120px;
        left: 30px;
        top: auto;
        /*only relevant for first row*/
        margin-top: -1px;
        /*compensate for top border*/
    }

    .table-scrollable {
        margin-left: 120px;
    }


        </style>

        <section class="inner-banner">
            <h2>Scrum Online Courses</h2>
        </section>

        <section class="breadcrumbs"><a href="/">Home</a> » <span>Scrum Certification</span></section>

        <section class="site-content">

            <button class="right-arrow">&gt;</button>
            <button class="left-arrow">&lt;</button>

            <div class="table-scrollable">
                <table class="table comparison-table">
                    <thead>
                    <tr class="logo-row">
                        <td width="16%" class="empty-cell">&nbsp;</td>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/sfc-home.png"
                                                                   alt="FREE Scrum Fundamentals Certified (SFC™)"
                                                                   height="18"/></th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/sdc-home.png"
                                                                   alt="Scrum Developer Certified (SDC™)" height="18"/>
                        </th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/smc-home.png"
                                                                   alt="Scrum Master Certified(SMC™)" height="18"/></th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/spoc-home.png"
                                                                   alt="Scrum Product Owner Certified (SPOC™)"
                                                                   height="18"/></th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/aec-home.png"
                                                                   alt="SCRUMstudy Agile Master Certified (SAMC™)"
                                                                   height="18"/></th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/ssmc-home.png"
                                                                   alt="Scaled Scrum Master Certified(SSMC™)"
                                                                   height="18"/></th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/sspoc-home.png"
                                                                   alt="Scaled Scrum Product Owner Certified (SSPOC™)"
                                                                   height="18"/></th>
                        <th width="14%" class="top-left-cell"><img src="PM-Images/brand-logo/esmc-home.png"
                                                                   alt="Expert Scrum Master Certified(ESMC™)"
                                                                   height="18"/></th>
                    </tr>
                    <tr>
                        <td class="empty-cell">&nbsp;</td>
                        <th style="background-color: #666666; border:none; color:#ffffff;">Scrum Fundamentals
                            Certified
                        </th>
                        <th style="background-color: #cc6633; border:none;color:#ffffff;">Scrum Developer Certified</th>
                        <th style="background-color: #006699; border:none;color:#ffffff;">Scrum Master Certified</th>
                        <th style="background-color: #5e377f; border:none;color:#ffffff;">Scrum Product Owner
                            Certified
                        </th>
                        <th style="background-color: #D9581E; border:none; color:#ffffff;">SCRUMstudy Agile Master
                            Certified
                        </th>
                        <th style="background-color: #C82027; border:none; color:#ffffff;">Scaled Scrum Master
                            Certified
                        </th>
                        <th style="background-color: #892C36; border:none; color:#ffffff;">Scaled Scrum Product Owner
                            Certified
                        </th>
                        <th style="background-color: #00A639; border:none; color:#ffffff;">Expert Scrum Master
                            Certified
                        </th>
                    </thead>
                    <tbody>
                    <tr class="text-left">
                        <th>Prerequisites</th>
                        <td>
                            <b>Experience:</b> Nil
                            <b>Education:</b> Nil
                        </td>
                        <td>
                            <b>Experience:</b> Nil
                            <br>
                            <b>Education:</b> Nil
                        </td>
                        <td>
                            <b>Experience:</b> Nil
                            <br>
                            <b>Education:</b> preferably SDC<sup>&trade;</sup> certified professional
                        </td>
                        <td>
                            <b>Experience:</b> Nil
                            <br>
                            <b>Education:</b> preferably SDC<sup>&trade;</sup> (or) SMC<sup>&trade;</sup> certified
                            professional
                        </td>
                        <td>
                            <b>Experience:</b> Nil
                            <br>
                            <b>Education:</b> SMC<sup>&trade;</sup> certified professional
                        </td>
                        <td>
                            <b>Experience:</b> Nil
                            <br>
                            <b>Education:</b>SMC<sup>&trade;</sup> certified professional
                        </td>
                        <td>
                            <b>Experience:</b> Nil
                            <br>
                            <b>Education:</b> SPOC<sup>&trade;</sup> certified professional
                        </td>
                        <td>
                            <b>Experience:</b> 3 Years managing Scrum/Agile projects<br>
                            <b>Education</b> Should be SMC<sup>&trade;</sup>, SAMC<sup>&trade;</sup>, and SPOC<sup>&trade;</sup>
                            Certified
                        </td>

                    </tr>
                    <tr>
                        <th>Online Certification Exam <br/>
                            <small>(Valid for 180 days)</small>
                        </th>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>

                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                    </tr>

                    <tr class="text-left">
                        <th>Free e-copy of SBOK Guide and online preparatory course <sup class="text-danger">*</sup>
                        </th>

                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>

                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>
                        <td style="text-align:center; color:#1bcd66; font-size:20px;">
                            &#10004;
                        </td>

                    </tr>

                    <tr class="text-left">
                        <th>Exam Format</th>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>40 questions per exam</li>
                                <li>60 minutes duration</li>
                                <li>Online un-proctored exam</li>
                            </ul>
                        </td>

                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>75 questions per exam</li>
                                <li>90 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>100 questions per exam</li>
                                <li>120 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>140 questions per exam</li>
                                <li>180 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>100 questions per exam</li>
                                <li>120 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>70 questions per exam</li>
                                <li>90 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>70 questions per exam</li>
                                <li>90 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Multiple choice</li>
                                <li>200 questions per exam</li>
                                <li>240 minutes duration</li>
                                <li><a href="/Certification/Conducting-Certification-Exams" target="_blank">Proctored
                                    online exam</a></li>
                            </ul>
                        </td>


                    </tr>

                    <tr>
                        <th>Certificate</th>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                                <li>physical copy</li>
                            </ul>

                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                                <li>physical copy</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                                <li>physical copy</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                                <li>physical copy</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                                <li>physical copy</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>e-copy / soft copy</li>
                                <li>physical copy</li>
                            </ul>
                        </td>


                    </tr>


                    <tr>
                        <th>Language</th>
                        <td>
                            <select name="select-lang" data-target-rel="sfc">
                                <option value="81" data-target-examname="english" selected="selected">English</option>

                            </select>
                        </td>

                        <td>
                            <select name="select-lang" data-target-rel="sdc">
                                <option value="72" data-target-examname="english" selected="selected">English</option>

                            </select>
                        </td>
                        <td>
                            <select name="select-lang" data-target-rel="smc">
                                <option value="73" data-target-examname="english" selected="selected">English</option>

                            </select>
                        </td>
                        <td>
                            <select name="select-lang" data-target-rel="spoc">
                                <option value="75" data-target-examname="english" selected="selected">English</option>

                            </select>
                        </td>
                        <td>
                            <select name="select-lang" data-target-rel="aec">
                                <option value="74" data-target-examname="english" selected="selected">English</option>

                            </select>
                        </td>
                        <td>
                            <select name="select-lang" data-target-rel="ssmc">
                                <option value="208" data-target-examname="english" selected="selected">English</option>
                            </select>
                        </td>
                        <td>
                            <select name="select-lang" data-target-rel="sspoc">
                                <option value="209" data-target-examname="english" selected="selected">English</option>
                            </select>
                        </td>
                        <td>
                            <select name="select-lang" data-target-rel="esmc">
                                <option value="147" data-target-examname="english" selected="selected">English</option>
                            </select>
                        </td>
                    </tr>

                    <tr class="bottom-left-cell">
                        <th>Price (Rs)</th>
                        <td><strong>Free</strong></td>
                        <td><strong><span id="ssgb-final-price"
                                          data-initial-value="7,500.00">Rs. 5,000.00</span></strong></td>
                        <td><strong><span id="ssbb-final-price" data-initial-value="550">Rs. 11,500.00</span></strong>
                        </td>
                        <td><strong><span id="lssbb-final-price" data-initial-value="800">Rs.14,000</span></strong></td>
                        <td><strong><span id="Span1" data-initial-value="800">Rs. 14,000</span></strong></td>
                        <td><strong><span id="Span1" data-initial-value="800">Rs. 8,500.00</span></strong></td>
                        <td><strong><span id="Span1" data-initial-value="800">Rs. 12,500.00</span></strong></td>
                        <td><strong><span id="Span2" data-initial-value="800">Rs. 21,000.00</span></strong></td>
                    </tr>

                    <tr>
                        <th class="empty-cell">&nbsp;</th>
                        <td class="bottom-left-cell">

                            <form action="/registration" class="form form-stacked" id="MSP-form" method="get"><input
                                    class="button button-primary" type="submit" value="Register Now">
                                <input type="hidden" name="courseid" value="81" data-rel="sfc">
                            </form>
                        </td>
                        <td>

                            <form action="/registration" class="form form-stacked" id="MSP-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="72" data-rel="sdc">
                            </form>
                        </td>
                        <td>
                            <form action="/registration" class="form form-stacked" id="MSS-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="73" data-rel="smc">
                            </form>
                        </td>
                        <td>
                            <form action="/registration" class="form form-stacked" id="MSE-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="75" data-rel="spoc">
                            </form>
                        </td>
                        <td>
                            <form action="/registration" class="form form-stacked" id="MSS-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="74" data-rel="aec">
                            </form>
                        </td>
                        <td>
                            <form action="/registration" class="form form-stacked" id="MSE-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="208" data-rel="ssmc">
                            </form>
                        </td>
                        <td>
                            <form action="/registration" class="form form-stacked" id="MSS-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="209" data-rel="sspoc">
                            </form>
                        </td>
                        <td>
                            <form action="/registration" class="form form-stacked" id="MSE-form" method="get"><input
                                    class="button button-primary" type="submit" value="Buy Now">
                                <input type="hidden" name="courseid" value="147" data-rel="esmc">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>


        <script type="text/javascript">
            var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
                { widgetcode: "1de1992e1fe9170b68f617d06998528c5d9ebb86aaa7715222e553a31670b297", values: {}, ready: function () { } };
            var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
            s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");


        </script>
        <div id="popupModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-close">&times;</span>
                </div>
                <div class="modal-body" onclick="CallEnrollMentPage()" title="Click Here">
                    <p style="font-size:18px">Still thinking? Avail this special offer and get yourself Scrum/Agile
                        certified by paying as low as <b>Rs.10,000</b></p>
                </div>
            </div>


        </div>


        <footer class="master-footer">
            <section id="copyright-info"> © 2020 GetCertNow.org. All Rights Reserved</section>
        </footer>


    </div>
</div>
<div id="Free-demo" class="modal-smc">

    <div class="modal-content-smc" style="font-size:13px;">
        <div class="modal-header-smc">


            <h4 style="color:white">Free Demo Course</h4> <span class="modal-close-smc">&times;</span>

        </div>
        <div class="modal-body-smc">
            <div class="row">
                <div class="col-1 col-sm-3-3" id="cmessage">

                    <form class="form form-stacked" id="enroll-free-demo-form">
                        <div class="row" style="color:black;">
                            <div class="col-1">
                                <label><strong>Certification </strong></label>

                                <select class="input right-10 input-1" name="certid" id="ccertid" required=""
                                        style="cursor:pointer">
                                    <option value="" disabled selected>Select Certification</option>
                                    <option value="11" id="course-option" data-value="SCRUM-MASTER-CERTIFIED">Scrum
                                        Master Certified
                                    </option>
                                    <option value="12" data-value="SCRUM-AGILE-MASTER-CERTIFIED">SCRUMstudy Agile Master
                                        Certified
                                    </option>
                                    <option value="13" data-value="SCRUM-PRODUCT-OWNER-CERTIFIED">Scrum Product Owner
                                        Certified
                                    </option>
                                </select>
                            </div>
                            <div class="col-1">
                                <label for="firstName">First Name<sup class="text-danger">*</sup></label>
                                <input name="firstName" id="cfirstName" class="input input-1" type="text" required=""
                                       placeholder="Enter First name" aria-required="true">
                            </div>

                            <div class="col-1">
                                <label for="lastName">Last Name<sup class="text-danger">*</sup></label>
                                <input name="lastName" id="clastName" class="input input-1" type="text" required=""
                                       placeholder="Enter Last name" aria-required="true">
                            </div>

                            <div class="col-1">
                                <label for="emailID">Email (User ID)<sup class="text-danger">*</sup></label>
                                <input name="emailID" id="cemailID" class="input input-1 emailID" type="email"
                                       required="" placeholder="Enter Email ID" aria-required="true">
                            </div>
                            <div class="col-1">
                                <label for="firstName">Phone Number</label>
                                <input name="phone" id="cphone" class="input input-1" type="number"
                                       placeholder="Enter Phone Number" aria-required="true">
                            </div>

                        </div>

                        <p class="input-1">
                            <button type="submit" id="cdemo-enroll" class="button button-primary"
                                    style="float:left;margin-left:60px;">Submit
                            </button>
                            <button type="reset" id="reset" style="float:right;margin-right:60px;"
                                    class="button button-primary">Clear
                            </button>
                        </p>


                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="bundles/shared"></script>


<script>
    $('.left-arrow, .right-arrow').on('click', function () {
        var scrollLeft = 0;
        if ($(this).hasClass('left-arrow')) {
            $(".logo-row").children(":not(.empty-cell)").each(function (i, e) {
                if (Math.ceil($(e).position().left - 151) >= 0) {
                    scrollLeft = $(".table-scrollable").scrollLeft() + Math.ceil($(e).prev().position().left - 151);
                    return false;
                }
            });
        }
        else {
            $(".logo-row").children(":not(.empty-cell)").each(function (i, e) {
                if (Math.floor($(e).position().left - 151) <= 0) {
                    scrollLeft += $(e).outerWidth(true);
                }
            });
        }

        $('.table-scrollable').animate({
            scrollLeft: scrollLeft
        }, 200);
    });
    //$('.table-scrollable').scrollLeft(scrollLeft);
    $(".table-scrollable tr > :first-child").each(function (i, e) {
        $(this).height($(this).next().height() - 1);
    });

    function fixTableWidth() {
        $(".table-scrollable").width($(".container").width() - 120);
    }

    fixTableWidth();

    $(window).resize(function () {
        fixTableWidth();
    });

    $(document).ready(function () {


        var modal = document.getElementById("popupModal");

        //setTimeout(function () {
        //    modal.style.display = "block";
        //}, 120000);

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $(".modal-close").on("click", function () {
            modal.style.display = "none";
        })

    });

            function CallEnrollMentPage() {
            window.location.href = "/certification/online-self-study";
        }


</script>


<script>
        var fmodal = document.getElementById("Free-demo");

        function opencoursemodal() {
            fmodal.style.display = "block";
            window.scrollTo(0, 200);
        };
        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        fmodal.style.display = "none";
        //    }
        //}

        $(".modal-close-smc").on("click", function () {
            fmodal.style.display = "none";
        })

        //$("#enroll-form").validate({
        //    rules: {
        //        confirmEmailID: {
        //            equalTo: "#emailID"
        //        },
        //        phone: {
        //            number: true
        //        },

        //    }

        //})



</script>
<script type="text/javascript">
        $("#enroll-free-demo-form").submit("click", function (e) {
            $("#cdemo-enroll").prop("disabled", true).text("Please wait...")
            $("#ccertid").prop("disabled", true)
            $("#cfirstName").prop("disabled", true)
            $("#cemailID").prop("disabled", true)
            $("#cphone").prop("disabled", true)
            e.preventDefault();

            $.ajax({
                method: "GET",
                url: "/classes/freedemousersenrollment",
                data: {
                    firstname: $("#cfirstName").val(),
                    lastname: $("#clastName").val(),
                    emailid: $("#cemailID").val(),
                    phoneno: $("#cphone").val(),
                    certId: $("#ccertid").val()

                }
            })
                .done(function (data) {
                    pageid++
                    if (data.Data == true) {
                        $("#cmessage").empty();
                        var text = "<p style='color:black'>Thank you for your interest in the free demo course. An email with login credentials to will be sent to your email address shortly.</p>"
                        $("#cmessage").append(text)
                    }

                })
                .fail(function () {
                    alert("Failed")
                })
                .always(function (data) {
                    $("#cdemo-enroll").prop("disabled", false).text("Submit")
                    $("#cfirstName").prop("disabled", false)
                    $("#cemailID").prop("disabled", false)
                    $("#cphone").prop("disabled", false)
                    $("#ccertid").prop("disabled", false)
                })
        })


</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169230402-1"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-169230402-1');

        //Global Site Tag for GetCertNow Enrollments conversion
        gtag('config', 'AW-1026351431');


</script>
</body>
</html>
