<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True">
    <title>GetCertNow - A leading SCRUMstudy Authorized Training Partner</title>
    <meta name="keywords"
          content="GetCertNow, SCRUMstudy, Scrum Classes, Scrum, Agile, Scrum training, GetCertNow benefits, Scrum certification">
    <meta name="description" content="GetCertNow is the leading SCRUMstudy Authorized Training Partner.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="Content/a.css" rel="stylesheet"/>
    <link href="Content/font-icons.css" rel="stylesheet"/>
    <script src="bundles/modernizr"></script>
</head>
<body class="">
<div id="global">
    <div class="container">

        <header class="master-header">
            <div>
                <nav class="top-nav">
                    <ul class="list-inline">

                        <li><a href="/">Home</a></li>
                        <li><a href="/registration" class="menu-free">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-2-5 col-md-1-2">
                    <a href="/"><img src="PM-Images/brand-logo/logo.svg" alt="GetCertNow"/> </a>
                </div>
                <div class="col-2-5 col-md-1-2">
                    <a style="float:right;" id="pmi-logo"> <img src="PM-Images/rep-56.svg" alt="REP"/> </a>
                </div>

                <div class="col-1-5 visible visible-sm">
                    <div class="menu-button">Menu<span class="touch-button"><i class="navicon">▼</i></span></div>

                </div>
            </div>
            <nav id="nav" class="primary-nav">
                <ul id="nav-holder" class="flexnav" data-breakpoint="991">
                    <li>
                        <a href="/scrum-online-self-study" class="certification-nav-tab">Scrum Certifications</a>
                    </li>
                    <li>
                        <a href="/sigma-online-self-study" class="certification-nav-tab">6sigma Certifications</a>
                    </li>
                </ul>
            </nav>

        </header>
        <section class="home-banner">
            <div class="slideshow-container">
                <div class="mySlides">
                    <img src="PM-Images/banner/two.jpg">
                    <h2 class="text">
                        We are working with our partner to get Six Sigma Certification.
                    </h2>
                </div>
            </div>
        </section>
        <section class="site-content home-body">
            <div class="row row-v-gutter">
                <div class="col-1 col-sm-1-2 col-md-1-4">
                    <a href="/"> <img id="pm-logos" src="Images/Course-logos/SSGB.png"
                    <a href="/"> <img id="pm-logos" src="PM-Images/brand-logo/SSGB.png"
                                      alt="Six Sigma Green Belt(ssgb)"/> </a>
                    <div class="text-muted">Six Sigma Green Belt (SSGB<sup>&trade;</sup>)</div>
                    <ul class="list-with-tick">
                        <li>Participants are awarded the ‘Six Sigma Green Belt’ certificate from 6sigmastudy™ on
                            successful completion of the final assessment.
                        </li>
                        <li>Training provided by experienced faculty certified by 6sigmastudy™.</li>
                    </ul>
                </div>

                <div class="col-1 col-sm-1-2 col-md-1-4">
                    <a href="/"> <img id="pm-logos" src="PM-Images/brand-logo/SSBB.png"
                                      alt="Six Sigma Black Belt (SSBB<sup>&trade;</sup>)"> </a>
                    <div class="text-muted">
                        Six Sigma Black Belt (SSBB<sup>&trade;</sup>)
                    </div>
                    <ul class="list-with-tick">
                        <li>Participants will be awarded with ‘Six Sigma Black Belt’ certificate from 6sigmastudy™ on
                            successful completion of the final assessment.
                        </li>
                        <li>Training provided by experienced faculty certified by 6sigmastudy™.</li>
                    </ul>

                </div>

                <div class="col-1 col-sm-1-2 col-md-1-4">
                    <a href="/"> <img id="pm-logos" src="PM-Images/brand-logo/LSSGB.png"
                                      alt="Lean Six Sigma Green Belt (LSSGB<sup>&trade;</sup>)"> </a>
                    <div class="text-muted">Lean Six Sigma Green Belt (LSSGB<sup>&trade;</sup>)</div>
                    <ul class="list-with-tick">
                        <li>
                            Participants will be awarded with ‘Lean Six Sigma Green Belt’ certificate from
                            6sigmastudy™ on successful completion of the final assessment.
                        </li>
                        <li>
                            Training provided by experienced faculty certified by 6sigmastudy™.
                        </li>
                    </ul>

                </div>
                <div class="col-1 col-sm-1-2 col-md-1-4">
                    <a href="/"> <img id="pm-logos" src="PM-Images/brand-logo/LSSBB.png"
                                      alt="Lean Six Sigma Black Belt (LSSBB<sup>&trade;</sup>)"> </a>
                    <div class="text-muted">
                        Lean Six Sigma Black Belt (LSSBB<sup>&trade;</sup>)
                    </div>
                    <ul class="list-with-tick">
                        <li>
                            Participants will be awarded with ‘Lean Six Sigma Black Belt’ certificate from
                            6sigmastudy™ on successful completion of the final assessment.
                        </li>
                        <li>
                            Training provided by experienced faculty certified by 6sigmastudy™.
                        </li>
                    </ul>

                </div>
            </div>
        </section>

        <footer class="master-footer">
            <section id="copyright-info"> © 2020 GetCertNow.org. All Rights Reserved</section>
        </footer>
    </div>

</div>
<script src="js/custom.js"></script>
</body>
</html>